.idea/
.__pycache__/
Data/

# Configuratiom
config.ini
test.py
Models/__pycache__/VGG.cpython-39.pyc
Utils/__pycache__/
SavedModels
Models/__pycache__/Transformer.cpython-39.pyc
SavedPics
__pycache__/